.calculator {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: 600px;
    border-style: solid;
    border-color: darkslategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.95)
}

@media(max-width: 400px) {
    .calculator {
        height: 400px;
        max-width: 250px;
    }
}

.screen {
    height: 20%;
    width: 100%;
    border-style: solid;
    border-color: darkslategray;
    background-color: #CCC;
    color: black;
    display: flex;
    flex-direction: column;
}

.current-total {
    width: 100%;
    height: 50%;
    font-size: 1em;
    text-align: end;
    padding-top: 15px;
    padding-right: 15px;
    overflow: auto;
}

.current-input {
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    text-align: end;
    padding-top: 15px;
    // padding-right: 15px;
    overflow: auto;
}

.calc-button {
    width: 21%;
    height: 13%;
    border-color: teal;
    border-style: solid;
    font-size: 42px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 450px) {
        font-size: 28px;
    }
}

.zero-button {
    width: 46%;
    height: 13%;
    border-color: teal;
    border-style: solid;  
    text-align: center;
    font-size: 42px;  
    color: white;

    @media(max-width: 450px) {
        font-size: 28px;
    }
}